<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form action="" enctype="multipart/form-data" method="post">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-icon-default-fullname">Plat</label>
                                        <div class="input-group input-group-merge">
                                            <input type="text" class="form-control" id="basic-icon-default-fullname"
                                                placeholder="AB 2344 BD" aria-label="John Doe"
                                                aria-describedby="basic-icon-default-fullname2" name="plat"
                                                pattern="[A-Z]{2} [0-9]{4} [A-Z]{2}" required>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-icon-default-fullname">Tipe</label>
                                        <div class="input-group input-group-merge">
                                            <input type="text" class="form-control" id="basic-icon-default-fullname"
                                                name="tipe" aria-label="John Doe"
                                                aria-describedby="basic-icon-default-fullname2" required>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-icon-default-company">Merk</label>
                                        <div class="input-group input-group-merge">
                                            <select name="merk" id="defaultSelect" class="form-select" required>
                                                <option value="">=================== Pick Your Cars Merk ====================
                                                </option>
                                                <option value="TOYOTA">Toyota</option>
                                                <option value="HONDA">Honda</option>
                                                <option value="FORD">Ford</option>
                                                <option value="KIA">Kia</option>
                                                <option value="VOLVO">Volvo</option>
                                                <option value="CHEVROLET">Chevrolet</option>
                                                <option value="VOLKSWAGEN (VW)">VolksWagen</option>
                                                <option value="BMW">BMW</option>
                                                <option value="MERCEDES-BENZ">Mercedes-Benz</option>
                                                <option value="AUDI">Audi</option>
                                                <option value="NISSAN">Nissan</option>
                                                <option value="HYUNDAI">Hyundai</option>
                                                <option value="SUBARU">Subaru</option>
                                                <option value="MAZDA">Mazda</option>
                                                <option value="TESLA">Tesla</option>
                                                <option value="PORSCHE">Porsche</option>
                                                <option value="LEXUS">Lexus</option>
                                                <option value="JAGUAR">Jaguar</option>
                                                <option value="LAND ROVER">Land Rover</option>
                                                <option value="FERRARI">Ferrari</option>
                                                <option value="LAMBORGHINI">Lamborghini</option>
                                                <option value="BUGGATATI">Buggati</option>
                                                <option value="MCLAREN">McLaren</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-icon-default-phone">Production
                                            Years</label>
                                        <input type="number" class="form-control" name="prudutionYear"
                                            pattern="[0-9]{4}" placeholder="XXXX"
                                          required>

                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-icon-default-phone">Miliage Per Liter
                                            Years</label>
                                        <input type="number" class="form-control" name="mileagePerLiter"
                                             placeholder="xx.mil"
                                            aria-label="Amount (to the nearest dollar)" required>

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-icon-default-email">Color</label>
                                        <div class="input-group input-group-merge">
                                            <input type="text" id="basic-icon-default-email" name="color"
                                                class="form-control" aria-describedby="basic-icon-default-email2" required>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-icon-default-phone">Price Per Days</label>
                                        <input type="number" class="form-control" name="pricePerDay" placeholder="$"
                                            aria-label="Amount (to the nearest dollar)" required>

                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-icon-default-phone">Model Cars</label>
                                        <div class="input-group input-group-merge">
                                            <select name="modelCars" id="defaultSelect" class="form-select" required>
                                                <option value="">=================== Pick Your Cars Model Cars
                                                    ====================</option>
                                                <option value="MICRO">Micro</option>
                                                <option value="HATCHBACK">HatchBack</option>
                                                <option value="COUPE">Coupe</option>
                                                <option value="UNIVERSAL">Universal</option>
                                                <option value="CABRIOLET">Cabriolet</option>
                                                <option value="ROADSTER">Roadster</option>
                                                <option value="TARGA">Targa</option>
                                                <option value="LIMOUSINE">Limousine</option>
                                                <option value="MUSCLE">Muscle</option>
                                                <option value="SPORT">Sport</option>
                                                <option value="SUV">SUV</option>
                                                <option value="SUPERCAR">SuperCar</option>
                                                <option value="PICKUP">Pickup</option>
                                                <option value="VAN">Van</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="input-group input-group-merge">
                                            <label class="form-label" for="basic-icon-default-email">Engine</label>
                                            <div class="input-group input-group-merge">
                                                <input type="text" id="basic-icon-default-email" name="engine"
                                                    class="form-control" aria-describedby="basic-icon-default-email2" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label"
                                                for="basic-icon-default-message">Description</label>
                                            <div class="input-group input-group-merge">
                                                <textarea id="basic-icon-default-message" class="form-control"
                                                    placeholder="Hi, Do you have a moment to talk Joe?"
                                                    aria-label="Hi, Do you have a moment to talk Joe?"
                                                    aria-describedby="basic-icon-default-message2" name="description" required></textarea>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-group files color">
                                                <label>Upload Image Cars </label>
                                                <input type="file" accept="image/*" class="form-control" required name="img"
                                                    multiple="">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Send</button>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
